
.fkt1{
	font-family: serif;
	font-size: 30px;		
}

.fkt2{
	font-family: serif;
	font-size: 22px;		
}

.tb1{
	
}

.tb1r1, #tb1r1 {
	background-color: #051015;	
	height: 20px;
}



